.newBtn {
    font-size: 24px;
    font-weight: bold;
}

#inputLabel {
    font-size: 20px;
    font-weight: bold;
}

#newGif {
    font-size: 20px;
}

h1 {
    color: crimson;
}

#submit {
    height: 40px;
    width: 60px;
}

iframe {
    position: sticky;
}

.jumbotron {
    text-align: center;
    align-self: center;
}

.gif {
    height: 300px;
    width: 500px;
    text-align: center;
}